.header {
  padding-top: 28px;
  width: 92.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .header {
    max-width: 92.493%;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 93.75%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 95.829%;
    padding-top: 16px;
  }
}
