.footer {
  width: 92.5%;
  display: flex;
  justify-content: space-between;
  padding-top: 92px;
  padding-bottom: 24px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 90%;
    padding-top: 64px;
    margin: 0 24px 0 24px;
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    margin: 0 16px 0 16px;
  }
}
